h1= title
- each player in players
  div.player
      div.name= player.first_name+' '+player.last_name
      div.title
          a(href="/player/" + player._id)!= player.name

form(action="/player/new", method="post")
  p
    label(for="first_name") First Name:
    input#first_name(name="first_name")
  p
    label(for="last_name") Last Name:
    input#last_name(name="last_name")
  p.buttons
    input(type="submit", value="Create")     