<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css" />
	</head>
	<body>
		<h1> {{title}} </h1>
		<form action="/auth/openid" method="post">
			<input type="image" src="../public/img/google_openid_login.png" value="https://www.google.com/accounts/o8/id" name="openid_identifier" />
			<input type="image" src="../public/img/yahoo.jpeg" style="width: 30px" value="https://me.yahoo.com" name="openid_identifier" />
			 <div>
				<br/>
			</div>
			<div>
				<input type="submit" value="Submit"/>
			</div>
		</form>
		
	</body>
</html>
