<!DOCTYPE HTML>
<html>
	<head>
   	<link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css" />
   </head>
	<body>
		<h1> {{title}} </h1>
		<div id="playerPage">{{player.first_name}}, {{player.last_name}}</div>
	</body>
</html>
